
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  max-width: 400px;
  margin: 20px auto;
}

.form__item {
  width: 100%;
  margin-bottom: 5px;
  padding: 7px;
  box-sizing: border-box;
  border-radius: 4px;
}

.form__message {
  height: 100px;
}

.form__btn {
  border-radius: 4px;
}