.form__item {
  box-sizing: border-box;
  border-radius: 4px;
}

.form__message {
  height: 100px;
}

/*.warning {*/
/*  border:2px solid #d50a0a !important;*/
/*  font-weight: bold;*/
/*}*/

/*input.warning::placeholder,*/
/*textarea.warning::placeholder{*/
/*  color: #d50a0a !important;*/
/*}*/

/*input.warning::-webkit-input-placeholder,*/
/*textarea.warning::-webkit-input-placeholder {*/
/*  color: #d50a0a !important;*/
/*}*/
/*input.warning:-moz-placeholder,*/
/*textarea.warning:-moz-placeholder {*/
/*  color: #d50a0a !important;*/
/*}*/

