.books {
  width: 70%
}

.books__title {
  color: rgb(127 165 202);
}

.book {
  flex-wrap: wrap;
}

.books__author {
  display: block;
  width: 100%;
}

.book__title {
  display: block;
}

.book__img {
  width: 100px;
  height: auto;
  margin-right: 30px;
}