.header_block {
  padding: 15px;
  color: #f8f8f8;
  /*background: linear-gradient(180deg, #52cc08, #022503);*/
  background-color: rgb(193 213 232);
  border-bottom: 1px solid #ccc;
}

.home__title {
  color: rgb(127 165 202);
}
