.header_block {
  flex-wrap: wrap;
  padding: 15px;
  color: #f8f8f8;
  background-color: rgb(193 213 232);
  border-bottom: 1px solid #ccc;
}

.header__sign {
  width: 100%;
  background-color: rgb(248, 249, 250);
  padding: 20px 10px;
}

@media screen and (min-width: 768px) {
  .header__sign {
    width: max-content;
  }
}

