
.messages__item {
  background-color: rgba(193, 213, 232, 0.38);
}

.messages__author-name {
  color: #706f6f;
}

.messages__text {
  /*margin: 0;*/
  /*padding: 10px;*/
  /*text-align: left;*/
  color: #706f6f;
  background-color: rgba(196, 208, 222, 0.27);
}