
.messages__item {
  background-color: rgba(193, 213, 232, 0.38);
}

.messages__author-name {
  margin-bottom: 0!important;
  color: #706f6f;
}

.messages__text {
  color: #706f6f;
  background-color: rgba(196, 208, 222, 0.27);
}